<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Our custom engine, rendering techniques, and vizualization tools allow you to understand your 2D scans in a way that makes 
                        sense. 
                
                       Custom AI algorithms are used to automatically segment organs of interest, automatically optomize contrast, and select the best scans.
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
