<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">MIP-CD-VIZ</h2>
                <hr class="light">
                <p class="text-faded">We are University of California San Diego's Qualcomm California Internet Technology Research Devision dedicated to improving the future of surgical planning via
                Medical Image Processing for Crohns Disease and Vizualization. Thank you to the Helmsley Foundation and Larry Smarr for calling us to action and supporting us. 
                 <!--       Thanks to the Helmsley Foundation and Larry Smarr we have been able to contrubute to the future of surgical planning. -->

                </p>
                <a href="https://helmsleytrust.org/" class="btn btn-default btn-xl">Learn More!</a>
            </div>
        </div>
    </div>
</section>
