<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Share our Perspective on Medical Image Viewing</h1>
            <hr>
            <p>Our custom engine, rendering techniques, and vizualization tools allow you to understand your 2D scans in a way that makes 
                sense. 
               Our custom AI algorithms are used to automatically segment organs of interest, automatically optomize contrast, and select the best scans.
            </p>

            <p> 
                Ready to Get Started?
            </p>
            <a href="#download" class="btn btn-primary btn-xl page-scroll">Download our Tools</a>
        </div>
    </div>
</header>
