<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Artificial Intelligence</h3>
                    <p class="text-muted">Automatically segment organs, optomize contrast, and select the best scans.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Virtual Reality</h3>
                    <p class="text-muted">View 3D patient scans and plan surgeries, as a single user or conference style.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Completely Customized</h3>
                    <p class="text-muted">Enjoy our custom engine, rendering technology, and vizualization tools for the most cutting edge experience.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Augmented Reality</h3>
                    <p class="text-muted">A 3D, AR projectable model of your 2D scans at your fingertips.</p>
                </div>
            </div>
        </div>
    </div>
</section>
